.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  height: 10vh;
}
h1 {
  color: rgb(235, 235, 65);
  text-shadow: 2px 2px 10px rgb(241, 241, 36);
  text-align: center;
  margin-top: 1rem;
}
.insta-h1{
  font-size: 2rem;
}
form {
  flex-direction: column;
  margin: 2rem auto;
}
form > input {
  margin: 1rem 0;
  height: 3rem;
  min-width: 350px;
  max-width: 700px;
  border: 1px solid gray;
  outline: none;
  border-radius: 30px;
  padding: 0 1rem;
}
form > button {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border: 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
  margin: 1rem 0;
  background-color: #f1f6f8;
}
a {
  color: black;
  text-decoration: none;
}
.card {
  flex-direction: column;
}
.image--container {
  margin-top: 1rem;
  max-width: 450px;
}
.image--container>img{
  border-radius: 20px;
  box-shadow:  0px 1px 5px rgb(192, 192, 192);
}
img {
  max-width: 100%;
}

.title--container {
  margin-top: 1rem;
  padding-inline: 2.5rem;
  font-size: 1.5rem;
  color: whitesmoke;
  text-align: center;
}
.links {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  background: rgba(248, 248, 248, 0.671);
  box-shadow: 0px 5px 10px rgba(248, 248, 248, 0.671);
}
@media screen and (min-width:900px) {
  .pages-links{
    margin-inline: 2rem;
  }
}
.pages-links {
  font-size: 1.3rem;
  border: none;
  background: none;
  padding: 0.7rem 0.5rem;
}
.pages-links > a {
  color: rgb(5, 63, 223);
  text-shadow: 0px 4px 10px rgb(208, 208, 221);
  line-height: 1.5;
}
.all-links,
.insta-Download{
  background-color: rgb(212, 212, 208);
  border-radius: 20px;
  color: rgb(24, 23, 23);
  box-shadow: 0px 5px 20px rgb(192, 192, 192);
}
.all-links>p{
  margin: 1rem;
  text-shadow: 0px 5px 10px rgb(255, 255, 123);
}
.all-links a{
  padding: 1rem;
  text-decoration: none;
  color: rgb(248, 36, 36);
}
.loading{
  position: absolute;
  inset: 0;
  background-color: #f2f2dc;
  z-index: 200;
}
.loading > img{
  width: 100%;
}
.insta-Download{
  text-decoration: none;
  padding: 1em;
  border-radius: 30px;
}
